* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202121;
  color: white; 
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.AppPt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AppPt2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

button {
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(197, 193, 193)

}

.Counter {
  text-align: left;
  float: left;
  margin-right: 60px;
}

.TotalPerPerson{
  text-align: right;
  float: right;
  margin-left: 60px;
} 

.Counter input {
  width: 50px;

}

input, label, select {
  width: 400px;
  margin-bottom: 10px;
  font-size: 22px;
  color: white;
}

input {
  border-radius: 50px;
  padding-left: 10px;
  background-color: rgb(67, 157, 160);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}